.homepage {

  .homepage-part-1 {

    @media screen and (max-width: $screen-lg) {
      margin-top: 160px;
    }

    .title-h1 {
      font-size: 50px;
      line-height: 55px;
      @apply font-avenir-bold;

      @media screen and (max-width: $screen-ipad-paysage) {
        font-size: 40px;
        line-height:45px;
      }
    }

    .title-h2 {
      font-size: 20px;
      @apply font-avenir-regular;
    }

    .ben-image {
      background-color: $black;
      height: 100vh;

      @media screen and (max-width: $screen-xl) {
        height: 600px;
      }

      @media screen and (max-width: $screen-lg) {
        height: 400px
      }

      opacity: 0;
      left: -40px;
      position: relative;
      transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
      &.active {
        opacity: 1;
        left: 0;
      }

      &.hide-image-scroll {
        opacity: 0;
      }
    }

    .custom-padding {
      padding: 0 !important;

      @media screen and (max-width: $screen-lg) {
        padding: 0 15px !important;
      }
    }
  }

  .homepage-part-2 {
      .title-h3 {
        font-size: 25px;
        @apply font-avenir-medium;
      }
  }

  .sub-title {
    font-size: 35px;
    position: relative;
    @apply font-avenir-bold;


  }


}
