.homepage {
  background: white;
  .homepage-part-1 {

    @media screen and (max-width: $screen-lg) {
      margin-top: 160px;
    }


    .ben-image {
      background-color: $black;
      height: 100vh;

      @media screen and (max-width: $screen-xl) {
        height: 600px;
      }

      @media screen and (max-width: $screen-lg) {
        height: 400px
      }

      @media screen and (max-width: $screen-md) {
        height: 500px;
      }
      @media screen and (max-width: $screen-sm) {
        height: 300px;
      }

      opacity: 0;
      left: -40px;
      position: relative;
      transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
      &.active {
        opacity: 1;
        left: 0;
      }

      &.hide-image-scroll {
        opacity: 0;
      }
    }

    .custom-padding {
      padding: 0 !important;

      @media screen and (max-width: $screen-lg) {
        padding: 0 15px !important;
      }
    }
  }

  .homepage-part-2 {
      .title-h3 {
        font-size: 25px;
        @apply font-avenir-medium;
      }
  }

  .sub-title {
    font-size: 35px;
    position: relative;
    @apply font-avenir-bold;

    @media screen and (max-width: $screen-md) {
      font-size: 28px;
      line-height: 38px;
    }
  }


}
