.portfolio {
  .custom-btn-filter {
    transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $black;
    color: $black;
    background: white;

    &:hover, &.active {
      background: $black;
      color: white;
    }
  }
}
