[data-fct="opacity"]{
  opacity: 0;
  transition: opacity 0.4s ease-in;
  &.active {
    opacity: 1;
  }
}
[data-fct="fade"]{
  opacity: 0;
  bottom: -40px;
  position: relative;
  transition: bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    bottom: 0;
  }
}

[data-fct="opacityAndTop"] {
  opacity: 0;
  margin-top: -40px;
  transition: margin-top 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    margin-top: 0;
  }
}

[data-fct="opacityAndBottom"] {
  opacity: 0;
  margin-bottom: -40px;
  transition: margin-bottom 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    margin-bottom: 0;
  }
}

[data-fct="opacityAndLeft"], .opacityAndLeft {
  opacity: 0;
  left: -40px;
  position: relative;
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    left: 0;
  }
}

[data-fct="opacityAndRight"], .opacityAndRight {
  opacity: 0;
  right: -40px;
  position: relative;
  transition: right 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    right: 0;
  }
}

[data-fct="opacityAndDiagonalFromTop"] {
  opacity: 0;
  top: -40px;
  left: -40px;
  position: relative;
  transition: left 0.4s ease-in-out, top 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    left: 0;
    top: 0;
  }
}

[data-fct="opacityAndDiagonalFromBottom"] {
  opacity: 0;
  bottom: -40px;
  right: -40px;
  position: relative;
  transition: right 0.4s ease-in-out, top 0.4s ease-in-out, opacity 0.6s ease-in-out;
  &.active {
    opacity: 1;
    right: 0;
    bottom: 0;
  }
}
