
@font-face {
  font-family: 'AvenirNextMedium';
  src: url(~assets/fonts/AvenirNext-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextBold';
  src: url(~assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextRegular';
  src: url(~assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

html,body {
  color: $black;
  font-family: 'AvenirNextRegular';
  background: white;
  height: 100%;

  overflow-x:hidden;

  &.loading {
    overflow: hidden;
  }
}

.top-navbar {
  top: $marginTopNavbar;

  @media screen and (max-width: 1231px) {
    top: 102px;
  }
}
.margin-top-navbar {
  margin-top: $marginTopNavbar;

  @media screen and (max-width: 1231px) {
    margin-top: 102px;
  }
}

.animated-link, .nuxt-link-exact-active:not(.no-animation) {
  position: relative;

  &:after {
    content: '';
    width:0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: $black;
    transition: width 0.3s ease-in-out;
  }

  &:hover:after, &.nuxt-link-exact-active:after {
    width: 100%;
  }
}

.btn {
  border-radius: 30px;
  transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
  padding: 14px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $screen-md) {
    padding: 9px 23px;
  }
  .with-arrow {
    width: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover .with-arrow{
    width: 10px;
    height: 10px;
    margin-right: 4px;

    path {
      fill: white;
    }
  }
}
.btn-black {
  @extend .btn;
  border: 2px solid $black_light;
  background: white;

  &:hover {
    background: $black_light;
    color: white;
  }
}
.btn-purple {
  @extend .btn;
  border: 2px solid #632684;
  background: white;

  &:hover {
    background: #632684;
    color: white;
  }
}

.title-h1 {
  font-size: 50px;
  line-height: 55px;
  @apply font-avenir-bold;

  @media screen and (max-width: $screen-ipad-paysage) {
    font-size: 40px;
    line-height:45px;
  }

  @media screen and (max-width: $screen-md) {
    font-size: 32px;
    line-height: 37px;
  }
}

.title-h2 {
  font-size: 20px;
  @apply font-avenir-regular;
}

/** REMOVE UNUSED STYLE FULLPAGE.JS **/
.fp-tableCell {
  vertical-align: initial !important;
}


